tuple-space/.vs/
tuple-space/Client/obj/
tuple-space/TupleSpace/obj

*.exe

tuple-space/Client/bin/Debug/Client\.exe\.config
tuple-space/Client/bin/Debug/
tuple-space/Client/bin/Release/

tuple-space/MessageService/obj/Debug/
